*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.member{
    width: 25%;
    position: relative;
    text-align: center;
    overflow: hidden;
    float: left;
    margin-top: 40px;
    border: 2px solid white;
}
.member-caption{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(42, 63, 85,0.7);
    height: 100%;
    width: 100%;
    color: aliceblue;
    transition: opacity 1s , transform 1s;
    opacity: 0;



}
.member:hover .member-caption{
    opacity: 1;
    transform: rotate(360deg);
}
img{
    width: 100%;
    transition: transform 1s 1s;
}
.member:hover img{
    transform: scale(1.2 , 1.2);
}
.member h2{
    padding: 25px;
    background-color: rgb(57, 55, 55);
    position: relative;
    left: 120%;
    transition: left 1s 2s;
}
.member:hover h2{
left: 0;
}
.member p{
    padding: 25px;
    font-size: larger;
    position: relative;
    left: 120%;
    transition: left 1s 2.5s;

}
.member:hover p{
    left: 0;
    }
    .clr{
        clear: both;
    }

    @media screen and (min-width:992px) and (max-width :1200px) {
        .member{
            width: 50%;
        }
    
    }
    @media screen and (max-width : 600px)  {
        .member{
            width: 100%;
        }
        
    }
